{% extends "layout.html" %}

{% block pageTitle %}
Statement | Universal Credit
{% endblock %}

{% block content %}

<nav id="app-menu" class="claimant-tabbed-navigation" aria-label="Site navigation">
  <ul class="claimant-tabbed-navigation__list">
    <li class="claimant-tabbed-navigation__item active">
      <a href="#" class="claimant-tabbed-navigation__link">Home</a>
    </li>
    <li class="claimant-tabbed-navigation__item ">
      <a href="#" id="to-do-tab" class="claimant-tabbed-navigation__link"><span class="visuallyhidden">Claimant's </span>To-do list</a>
    </li>
    <li class="claimant-tabbed-navigation__item ">
      <a href="#" class="claimant-tabbed-navigation__link">Journal</a>
    </li>
  </ul>
</nav>

<div class="subsection-controls">
  <button class="js-print-button subsection-controls__print gutter-two-thirds-top">
    <span aria-hidden="true" class="fa fa-print"></span> Print this statement
  </button>
</div>


<h1 class="govuk-heading-xl">
  <span id="id-subtitle" class="category heading-secondary">
  </span>
  <span class="js-page-title">
    Statement  </span>
    <span class="category heading-secondary">

    </span>
  </h1>

  <div id="statement-summary" class="panel panel-info">
    <p class="font-medium text-center gutter-bottom-none">
      Your payment this month is
      <span class="bold-xxlarge text-center block gutter-third-top" data-decimal-points="0" data-relative-id="summary-total" data-monetary-amount-total="uiPostAdjustmentTotal">
        £919
      </span>
      This will be paid by 8pm on <span data-relative-id="payment-date">11 July 2018</span>
    </p>
  </div>
  <h2 class="govuk-heading-l">
    How we calculate your payment
  </h2>


  <div>
    <p>Your payment is based on what you've told us and covers the period between
      <span class="date-range">
        <strong><span class="date-range__day">5</span>
          <span class="date-range__month">June</span></strong>
          <span>
            and
          </span>
          <strong><span class="date-range__day">4</span>
            <span class="date-range__month">July</span></strong>.
          </span>
        </p>
      </div>

      <div id="panel-report-change-circs" class="panel panel-grey panel-print">
        <p class="text bold">
          It is important to tell Universal Credit immediately about any changes in your circumstances that could affect your Universal Credit payments.
        </p>
        <a href="#">
          Report a change in my circumstances
        </a>
      </div>

      <div class="panel panel-print">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="inner-block">
              <h3 class="govuk-heading-m gutter-half-top">
                Standard allowance
              </h3>
              <p>
                You receive a standard Universal Credit allowance each month
              </p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="inner-block">
              <p class="bold-medium gutter-top">
                <span id="standard-allowance-amount">£317.82</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-print">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="inner-block">
              <h3 class="govuk-heading-m gutter-half-top">
                Housing
              </h3>
              <p>
                You said that your rent is
                <span id="housing-rent-amount">£600.00</span>
                per month, and you pay
                <span id="housing-service-charges-amount">£100.00</span>
                in service charges each month
              </p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="inner-block">
              <p class="bold-medium gutter-top">
                <span id="housing-amount">£602.00</span>
              </p>
            </div>
          </div>
        </div>
      </div>




      <div class="panel panel-grey panel-print">
        <div class="">
          <div class="">
            <div class="inner-block">
              <h3 class="govuk-heading-m gutter-half-top">
                Total before adjustments
              </h3>
            </div>
          </div>
          <div class="">
            <div class="inner-block">
              <p class="bold-large gutter-top text-right gutter-right">
                <span id="pre-adjustment-total">
                  £919.82
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-info panel-print">
        <div class="grid-wrapper gutter-half-top">
          <div class="grid grid-1-2">
            <div class="inner-block">
              <h3 class="govuk-heading-m gutter-half-top">
                Total payment for this month
              </h3>
            </div>
          </div>
          <div class="grid grid-1-2 print-right text-right">
            <div class="inner-block">
              <p class="bold-xlarge gutter-half-top text-right gutter-right">
                <span id="total-payment">£919.82</span>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="print-page-break two-thirds-limited">
        <h2 class="govuk-heading-l">
          What can I do if I think this statement is incorrect?
        </h2>

        <p class="text">
          It is important that you tell us straight away.
        </p>

        <p class="text" id="contact-details">
          You can ask for a written explanation. You need to contact us
          <strong class="bold-small">within 1 month of the date on this statement (5 July 2018).</strong>
          Call us on 0800 328 5644 (Textphone: 0800 328 1344). Alternatively, you can write to us at Freepost DWP UNIVERSAL CREDIT FULL SERVICE.
        </p>

        <p class="text">
          If you have new information that could affect your payment or think something has been overlooked, you can request a
          <strong class="bold-small">mandatory reconsideration.</strong>
          When we've looked at the decision again, we'll explain our reasons in a
          <strong class="bold-small">mandatory reconsideration notice.</strong>
        </p>

        <h3 class="govuk-heading-m">
          Can I appeal?
        </h3>

        <p class="text">
          If after a mandatory reconsideration, you still disagree with our decision you can appeal it. Your mandatory reconsideration notice includes details on how to do this.
        </p>

        <h2 class="govuk-heading-m">Help managing your money</h2>

        <p class="text">
          If you have trouble making your money last for the month, you can
          ask for help with budgeting.
        </p>
      </div>
      <div class="print-page-break two-thirds-limited">
        <div id="id-other-support-section-GREAT_BRITAIN">
          <h2 class="govuk-heading-m">Other support you may be able to get</h2>
          <div class="text">
            <p>You may be able to get extra support, eg free school meals, food if you're pregnant or have a young child, help with legal costs and the costs of using courts or tribunals.</p>

            <div class="govuk-inset-text">You can find out what you're eligible for with our new <a href="/results">online check</a>.</div>

          </div>

          <h3 class="govuk-heading-m gutter-half-top">Examples of support you can get</h3>
          <div class="text">
            <p>What you can get may depend on how much you earn.</p>
            <p>Your take-home pay for this Universal Credit period is
              <span class="bold">£0.00</span>.
            </p>
          </div>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header half-width" scope="col">If your take-home pay per month is up to</th>
                <th class="govuk-table__header half-width" scope="col">You may be able to get help with</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">
                  £435
                  <p>(or up to <strong>£935</strong> if you are responsible for a child or have limited capability for work)</p>
                  <p>There are currently no pay limits in Wales</p>
                </th>
                <td class="govuk-table__cell ">
                  <dl>
                    <dt class="bold">Health costs</dt>
                    <dd>Including free NHS prescriptions, free NHS wigs and fabric supports, free NHS dental treatment, free sight tests in England (NHS eye examinations are already free in Scotland), vouchers towards the cost of glasses or contact lenses and help with the cost of travel to receive NHS treatment on referral.</dd>
                  </dl>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">£1,250</th>
                <td class="govuk-table__cell ">
                  <dl>
                    <dt>Energy-saving home improvements</dt>
                    <dd>The ECO Affordable Warmth scheme may be able to help you with energy-saving measures like a new boiler or insulation.</dd>
                  </dl>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">
                  £1,250
                  <p>(including any other income)</p>
                </th>
                <td class="govuk-table__cell ">
                  <dl>
                    <dt>Prison visits</dt>
                    <dd>If you're over 18 you can get help with the costs of visiting a close relative or partner in prison.</dd>
                  </dl>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <p class="text" id="id-other-support-responsibility-section">It is your responsibility to make sure that any information you supply in support of your claim to any of these benefits is correct. Government departments can conduct checks on whether you are currently entitled to Universal Credit and on the amount you are earning.</p>
      </div>




      {% endblock %}
