
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Passported benefits prototypes
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>These are prototypes created during the six-week passported benefits discovery, in summer 2018.</p>

      <h2 class="govuk-heading-m">Journeys</h2>
      <a href="/ucfs/statement" role="button" class="govuk-button govuk-button--start">
        UCFS claimant
      </a>

      <a href="/legacy/start-page" role="button" class="govuk-button govuk-button--start">
        Legacy claimant
      </a>

    </div>
</div>

{% endblock %}
